<ion-header>
  <ion-toolbar color="verde" class="padding-header-asistencia-registrada">
    <ion-title class="ion-text-center">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="rosado">
  <ion-card color="amarillo">
    <ion-card-header>
      <ion-card-subtitle>Por reglamento académico tienes que tener un 70% de asistencia en cada uno de tus ramos para
        aprobar el curso, en esta sección podrás revisar el avance y así no repetir por no ir a
        clases.</ion-card-subtitle>     
        <ion-card-title class="ion-text-center">nombre_alumno</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      {{ fecha }}
      <br>
      {{ hora }}
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="padding-footer-asustencia-registrada">
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-footer>