.padding-header-asistencia-registrada{
    padding-bottom: 5rem;
}

.padding-footer-asistencia-registrada{
    padding-top: 1rem;
}

.texto-asistencia{
    font-size: 16.5px; 
    text-align: center; 
}