<ion-header class="padding-header-asistencia-registrada">
  <ion-toolbar color="verde" >
    <ion-buttons slot="start">  
      <ion-back-button default-href="alumno"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="rosado">
  <ion-card color="amarillo">
    <ion-card-header>
      <h5 class="texto-asistencia">Por reglamento académico tienes que tener un 70% de Asistencia en cada uno de tus ramos para
        aprobar el curso, en esta sección podrás revisar el avance y así no repetir por no ir a
        clases.</h5>    
        <ion-card-title class="ion-text-center">{{usuario}}</ion-card-title>
    </ion-card-header>
    <ion-card-content >

    </ion-card-content>
  </ion-card>
  <ion-card color="boton">
    <ion-card-header>
        <ion-card-title class="ion-text-center">FECHA ASISTENCIA</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <h2 class="">FECHA: {{ fecha }}</h2>
      <br>
      <h2>HORA: {{ hora }}</h2>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="padding-footer-asustencia-registrada">
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-footer>