<ion-header class="padding-header-recuperarcontra">
  <ion-toolbar color="verde">
    <ion-buttons slot="start">  
      <ion-back-button default-href="login"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="verde">
  <ion-card color="amarillo">
    <ion-card-header>
      <ion-card-title>
        <h1 class="ion-text-center">
          Ingrese un correo para
          <br>
          recuperar su contraseña
        </h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Correo" placeholder="Correo de recuperacion"></ion-input>
      </ion-item>
      <ion-button (click)="presentAlert()" expand="block"  color="boton">Recuperar contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer class="padding-footer-recuperarcontra">
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-footer>