<ion-header class="padding-header-recuperarcontra">
  <ion-toolbar color="verde">
    <ion-title>VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperarContrasena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recuperarContrasena</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer class="padding-footer-recuperarcontra">
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-footer>