:root{
    --ion-background-color-rgb: 255,255,255;
}

ion-content.loginbackground{
    --ion-background-color: #fac2ee;
}
ion-header.loginheader{
    --ion-background-color: #c529a3;
}

.ion-text-center{
    text-align: center
}