<ion-header class="padding-header">
  <ion-toolbar color="verde">
    <ion-title>VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="rosado">
  <ion-card color="amarillo">
    <ion-card-header>
      <ion-card-title>
        <h1 class="ion-text-center">
          ¡Bienvenido!
        </h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Usuario" placeholder="Usuario" [(ngModel)]="login.usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Contrasena" type="password" value="password" [(ngModel)]="login.password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="ingresar()"  color="boton">Ingresar</ion-button>
      <br>
      <a href="#">
        <p class="ion-text-center">¿Has olvidado tu contrasena?</p>
      </a>
    </ion-card-content>

  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="verde">
    <ion-title>VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-footer>