<ion-header class="padding-header-docente">
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">Bienvenido nombre_docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="rosado">

  <ion-card color="amarillo">
    <h1 class="ion-text-center">ASISTENCIA EN LINEA</h1>
  </ion-card>
    <ion-button expand="block" color="boton" routerLink="/codigoqr">Generar Codigo QR</ion-button>
</ion-content>

<ion-footer class="padding-footer-docente">
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-footer>

