<ion-header class="padding-header-alumno">
  <ion-toolbar color="verde">
    <ion-buttons slot="start">  
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bienvenido nombre_alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="rosado">


  
  <ion-card color="amarillo" class="ion-card-asistencia">
    <h1 class="ion-text-center">Asistencia en linea</h1>
  </ion-card>
  <ion-button expand="block" color="boton" class="botonAsistencia" routerLink="/camara-alumno">
    Marcar Asistencia</ion-button>
</ion-content>

<ion-footer class="padding-footer-alumno">
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-footer>
