.padding-header-alumno{
    padding-bottom: 10rem;
}

.padding-footer-alumno{
    padding-top: 1rem;
}

.ion-card-asistencia{
    height: 3.5rem;
}

.botonAsistencia{
    padding-top: 0.8rem;
    text-transform: uppercase;
}

