.padding-header-alumno{
    padding-bottom: 5rem;
}

.padding-footer-alumno{
    padding-top: 0rem;
}

.ion-card-asistencia{

    padding-bottom: 5rem;
}

.botonAsistencia{
    padding-top: 0.8rem;
    text-transform: uppercase;
}

.texto-asistencia{
    font-size: 16.5px; 
    text-align: center; 
}

