<ion-header class="padding-header-home">
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="rosado">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Bienvenido nombre_usuario</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      Para ingresar como Docente, presione el boton de la izquierda.<br>
      Para ingresar como Alumno, presione el boton de la derecha.
    </ion-card-content>
  
    <ion-button [routerLink]="['/pagina-docente']" fill="clear">Docente</ion-button>
    <ion-button [routerLink]="['/alumno']" fill="clear">Alumno</ion-button>
  </ion-card>

</ion-content>

<ion-footer class="padding-footer-home">
  <ion-toolbar color="verde">
    <ion-title class="ion-text-center">VIVO DUOC REMAKE</ion-title>
  </ion-toolbar>
</ion-footer>